<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>FastBuilder Phoenix</string>
	<key>CFBundleExecutable</key>
	<string>phoenixbuilder</string>
	<key>CFBundleIdentifier</key>
	<string>pro.fastbuilder.phoenix</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FastBuilder</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformName</key>
	<string>@PLATFORM@</string>
	<key>DTPlatformVersion</key>
	<string>9.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Licensed under GNU AGPL v3</string>
</dict>
</plist>
